@import url('https://fonts.googleapis.com/css?family=Lato');
  .container {
  max-width: 1100px;
  margin: 0 auto;
}

.search__container {
        padding-top: 64px;
    }

.search__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

.search__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
.movies {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    list-style: none;
}

.card {
  -webkit-perspective: 1500;
  -webkit-transform-style: preserve-3d;
  position: relative;
  height: 300px;
  width: 200px;
  display: inline-block;
  margin: 0 10px;
}
.card .front,
.card .back {
  overflow: hidden;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.7) 0 2px 6px -2px;
  background: #fff;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: #222;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.card .front {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center  center;
  transform: rotateY(0);
  z-index: 2;
}
.card .front .title {
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.card .front .title h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 32px;
}
.card .back {
  background: #333;
  transform: rotateY(-180deg);
  padding: 20px;
}
.card .back h3{
  font-size:.8em;
}
.card .back p {
  margin: 0 0 20px 0;
  text-overflow: ellipsis;
  overflow: auto;
  max-height: 111px;
  font-size: .8em;

}
.card .back .date{
  bottom:20px;
  position: absolute;
  font-size: .8em;
}
.card .back .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.card .btn {
  padding: 10px;
  display: block;
  color: inherit;
  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
}
.card .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(0);
}

img {
  max-width: 100%;
}

body {
  background: #f0f0f0;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}